<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/css/stars.css">
    <div class="row">
        <div class="col-6">
            <div class="card mb-3">
                <img src="<%=course.image%>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=course.title %>
                    </h5>
                    <p class="card-text">
                        <%=course.description%>
                    </p>
                    <i>Submitted by <%=course.author.username %></i>
                </div>
                <% if(currentUser &&course.author.equals(currentUser._id)) { %>
                    <div class="card-body">
                        <a href="/courses/<%=course._id%>/edit" class="card-link btn btn-warning">Edit</a>
                        <form class="d-inline" action="/courses/<%=course._id%>?_method=DELETE" method="POST"><button
                                class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    <% } %>
                        <div class="card-footer text-muted">
                            <form action="/courses/<%=course._id%>/enroll" method="POST">
                                <button type="submit" class="btn btn-success">Enroll</button>
                            </form>
                        </div>
            </div>
        </div>
        <div class="col-6">
            <% if(currentUser) { %>
                <h3>Leave a review</h3>
                <form action="/courses/<%=course._id%>/reviews" class="mb-3 validated-form" method="POST" novalidate>
                    <fieldset class="starability-basic">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
                            aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>


                    <div class="mb-3">
                        <label class="form-label" for="body">Review</label>
                        <textarea class="form-control" name="review[body]" id="body" rows="3" cols="30"
                            required></textarea>
                        <div class="valid-feedback">Looks good</div>
                    </div>
                    <button class="btn btn-success">Submit</button>
                </form>
                <% } else { %>
                    <h4>You must be logged in to add a review</h4>
                    <% } %>
                        <% for(let review of course.reviews) { %>
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= review.author.username %>
                                    </h5>
                                    <p class="starability-result" data-rating="<%= review.rating %>">
                                        Rated: <%= review.rating %> stars
                                    </p>
                                    <p class="Card-text">
                                        <%= review.body %>
                                    </p>
                                    <% if(currentUser && review.author.equals(currentUser._id)) { %>
                                        <form action="/courses/<%=course._id%>/reviews/<%=review._id%>?_method=DELETE"
                                            method="POST">
                                            <button class="btn btn-sm btn-danger">Delete</button>
                                        </form>
                                        <% } %>
                                </div>
                                <% } %>
                            </div>
        </div>
    </div>