<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-md-4 profile-card">
            <div> <img class="profile-image-show mt-3" src="https://au.edu.pk/Pages/Faculties/Faculty_Images/0.jpg"
                    alt=""> </div>
            <h1 class="mt-3">
                <%= user. name %>
            </h1>
            <% if(currentUser && currentUser._id.equals(user._id)) { %>
                <h4>Your username: <%= user.username %>
                </h4>
                <% } %>
        </div>
        <div class="col-md-8">
            <% if(courses.length> 1) { %>
                <% if(currentUser && currentUser._id.equals(user._id)) { %>
                    <h2>Courses by Me</h2>
                    <% } else { %>
                        <h2>Courses by <%=user.name%>
                        </h2>
                        <% } %>
                            <div class="row row-cols-1 row-cols-lg-3 g-4">
                                <% courses.forEach(course=>{ %>
                                    <div class="col">
                                        <div class="card">
                                            <img class="img-fluid" src="<%= course.image%>" alt="">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-7">
                                                        <h5 class="card-title">
                                                            <%= course.title %>
                                                        </h5>
                                                        <p class="text-muted">
                                                            <%= course.author.name %>
                                                        </p>
                                                        <p>
                                                            <%= course.enrollers.length %> enrolled
                                                        </p>
                                                    </div>

                                                </div>

                                                <a class="btn btn-primary" href="/courses/<%=course.id %>">View
                                                    Course</a>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                            </div>
                            <% } %>
                                <% if(currentUser && currentUser._id.equals(user._id)) { %>
                                    <h2>My courses</h2>
                                    <% if(user.myCourses.length< 1) { %>
                                        <h4>Ooh looks like it's quite empty here. Check out our courses
                                        </h4>
                                        <a href="/courses"><button class="btn btn-primary">Go to
                                                Courses</button></a>
                                        </h2>
                                        <% } else { %>
                                            <div class="row row-cols-1 row-cols-lg-3 g-4">
                                                <% user.myCourses.forEach(course=>{ %>
                                                    <div class="col">
                                                        <div class="card">
                                                            <img class="img-fluid" src="<%= course.image%>" alt="">
                                                            <div class="card-body">
                                                                <div class="row">
                                                                    <div class="col-7">
                                                                        <h5 class="card-title">
                                                                            <%= course.title %>
                                                                        </h5>
                                                                        <p class="text-muted">
                                                                            <%= course.author.name %>
                                                                        </p>
                                                                    </div>

                                                                </div>

                                                                <a class="btn btn-primary"
                                                                    href="/courses/<%=course.id %>">Go to
                                                                    Course</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% }) %>
                                            </div>
                                            <% }} %>

        </div>
    </div>